*
  max-width: 100%
  box-sizing: border-box
html, body
  height: 100%
  width: 100%
body
  overflow: hidden
.grid
  display: flex
  flex-wrap: wrap
  height: 400px
  width: 200px
  background: lightblue
  div
    height: 20px
    width: 20px
.tetromino
  background: lightcoral